/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
			no-repeat,
		conic-gradient(#0000 30%, #474bff);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
	animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
	100% {
		transform: rotate(1turn);
	}
}

/* .MuiChartsLegend-root {
	display: none;
}

.MuiChartsAxisHoghlight-root,
.base-Popper-root {
	display: none;
} */

.available::-webkit-scrollbar-thumb {
	background-color: #ffffff7c;
}

::-webkit-scrollbar {
	width: 2px; /* Width of the scrollbar */
}

/* Target the scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
	background-color: #e5e7eb; /* Color of the scrollbar */
	border-radius: 10px; /* Make it rounded */
}

/* Target the scrollbar corner (when both vertical and horizontal scrollbars are visible) */
::-webkit-scrollbar-corner {
	background: transparent; /* Background for the corner */
}
